@model PatientPayloadViewModel
@*@section Scripts{
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
    }*@


<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title">Profile </h4>
            <ol class="breadcrumb p-0 m-0">
                <li class="active">
                    Profile
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->
@if (Model != null)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="member-card">
                            <div class="text-left">
                                <div class="panel">
                                    <div class="panel-heading p-0" data-toggle="collapse" data-target="#basicInfo">
                                        <div class="inbox-widget">
                                            <div class="card-box p-0">
                                                <a href="#">
                                                    <div class="row">
                                                        <div class="inbox-item">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">
                                                                    <div class="inbox-item-img">
                                                                        <img src="~/images/profile/x4.jpg" style="width: 100%; height: 100%;" class="img-circle img-thumbnail" alt="profile-image">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <h5 class="inbox-item-author text-primary">@Model?.FirstName @Model?.LastName</h5>
                                                                    <p class="inbox-item-text">30 age | <i class="fas fa-redo-alt"></i> 11 Visits</p>
                                                                </div>
                                                                @if (Model.Title != null)
                                                                {
                                                                    if (Model.Title.ToLowerInvariant() == "mrs" || Model.Title.ToLowerInvariant() == "ms")
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <i class="fa fa-female  fa-3x" style="height: 100%;width:100%"></i>
                                                                        </div>
                                                                    }
                                                                    else if (Model.Title.ToLowerInvariant() == "mr")
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <i class="fa fa-male fa-3x" style="height: 100%;width:100%"></i>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <div class="col-md-2">
                                                                        <i class="fa fa-genderless fa-3x" style="height: 100%;width:100%"></i>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="panel-body p-0">
                                        <div class="collapse" id="basicInfo">
                                            <p class="text-muted font-13"><strong>Patient ID :</strong> <span class="m-l-15">@Model?.PatientId</span></p>

                                            <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15">@Model?.FirstName @Model?.LastName</span></p>
                                            @if (Model.Title != null)
                                            {
                                                if (Model.Title.ToLowerInvariant() == "mrs" || Model.Title.ToLowerInvariant() == "ms")
                                                {
                                                    <p class="text-muted font-13"><strong>Gender:</strong> <span class="m-l-15">Female</span></p>
                                                }
                                                else if (Model.Title.ToLowerInvariant() == "mr")
                                                {
                                                    <p class="text-muted font-13"><strong>Gender:</strong> <span class="m-l-15">Male</span></p>
                                                }
                                            }
                                            else
                                            {
                                                    <p class="text-muted font-13"><strong>Gender:</strong> <span class="m-l-15">Unspecified</span></p>
                                            }                                            

                                            @*<p class="text-muted font-13"><strong>Gender:</strong> <span class="m-l-15">Female</span></p>*@

                                            <p class="text-muted font-13"><strong>Age :</strong> <span class="m-l-15">30</span></p>

                                            <p class="text-muted font-13"><strong>D.O.B :</strong> <span class="m-l-15">@Model?.DateOfBirth.Value.ToString("d")</span></p>

                                            <p class="text-muted font-13"><strong>ID:</strong> <span class="m-l-15">@Model?.IdNumber</span></p>

                                            <p class="text-muted font-13"><strong>Country :</strong> <span class="m-l-15">@Model?.Citizenship</span></p>


                                            <div class="panel panel-default">
                                                <div class="panel-heading" data-toggle="collapse" data-target="#contactInfo">
                                                    <h5 class="text-custom m-b-5">Contact Details<i class="fa fa-address-book pull-right"></i></h5>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="collapse" id="contactInfo">
                                                        <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15">@Model?.CellPhone</span></p>

                                                        <p class="text-muted font-13"><strong>Telephone :</strong><span class="m-l-15"> @Model?.Telephone1
                                                            @*@if (Model?.Telephone2 != null)
                                                            {
                                                                Model?.Telephone2
                                                            }
                                                            else
                                                            {
                                                                Model?.Telephone1
                                                            }*@
                                                        </span></p>

                                                        <p class="text-muted font-13"><strong>Home :</strong><span class="m-l-15">@Model?.HomeTelephone</span></p>

                                                        <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">@Model?.Email1</span></p>


                                                        <p class="text-muted font-13"><strong>Address :</strong> <span class="m-l-15">@Model?.Address1 @Model?.Address2 @Model?.Address3</span></p>
                                                    </div>
                                                </div>
                                            </div><hr />

                                            <div class="panel panel-default">
                                                <div class="panel-heading" data-toggle="collapse" data-target="#nextOfKin">
                                                    <h5 class="text-custom m-b-5">Next Of Kin Details</h5>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="collapse" id="nextOfKin">
                                                        <p class="text-muted font-13"><strong>Name:</strong> <span class="m-l-15">@Model?.NokFirstName @Model?.NokLastName</span></p>
                                                        <p class="text-muted font-13"><strong>Mobile:</strong> <span class="m-l-15">@Model?.NokCellPhone</span></p>

                                                        <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">@Model?.NokEmail1</span></p>

                                                        <p class="text-muted font-13"><strong>Address :</strong> <span class="m-l-15">@Model?.NokAddress1 @Model?.NokAddress2 @Model?.NokAddress3</span></p>
                                                    </div>
                                                </div>
                                            </div><hr />

                                            <div class="panel panel-default">
                                                <div class="panel-heading" data-toggle="collapse" data-target="#accountHolder">
                                                    <h5 class="text-custom m-b-5">Account Holder Details</h5>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="collapse" id="accountHolder">
                                                        <p class="text-muted font-13"><strong>Gaurantor: Self</strong>
                                                        <p class="text-muted font-13"><strong>Name:</strong> <span class="m-l-15">Sharon Khoza</span></p>
                                                        <p class="text-muted font-13"><strong>Mobile:</strong> <span class="m-l-15">0719332656</span></p>

                                                        <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">sharon@mgiba.com</span></p>

                                                        <p class="text-muted font-13"><strong>Address :</strong> <span class="m-l-15">111 Augusta Jackal CReek Golf Estae, Roodeport, Johannesburg  2001</span></p>
                                                    </div>
                                                </div>
                                            </div><hr />


                                            <div class="panel panel-default">
                                                <div class="panel-heading" data-toggle="collapse" data-target="#paymentDetails">
                                                    <h5 class="text-custom m-b-5">Payment Details</h5>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="collapse" id="paymentDetails">
                                                        <p class="text-muted font-13"><strong>Payment: Medical Aid - Psemas(Priority) - #2356618</strong>
                                                        <p class="text-muted font-13"><strong>Main Member:</strong> <span class="m-l-15">Sharon Khoza</span></p>
                                                        <p class="text-muted font-13"><strong>ID:</strong> <span class="m-l-15">8965684186561868</span></p>

                                                        <p class="text-muted font-13"><strong>Dependent Code :</strong> <span class="m-l-15">00</span></p>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="panel-default">
                                    <div class="text-custom text-center panel-heading">Patient Symptoms</div>
                                    <div class="panel-body">
                                        <p class="text-center">No symptoms recorded</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end card-box -->

                    </div> <!-- end col -->

                    <div class="col-lg-9">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <div class="card-box">
                                        <div class="card-header">
                                            <h3 class="text-custom text-center">Heart Rate</h3><hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-9">
                                                        <h4 class="text-muted m-0">84 bpm</h4>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <i class="fa fa-heartbeat fa-2x"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-box">
                                        <div class="card-header">
                                            <h3 class="text-custom text-center">Blood Pressure</h3><hr />
                                        </div>
                                        <div class="card-body">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-box">
                                        <div class="card-header">
                                            <h3 class="text-custom text-center">Temperature</h3><hr />
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6 text-center">
                                                        <h4 class="col-md-6 p-0 text-muted">27</h4>
                                                        <i class="col-md-4 p-0 mdi mdi-temperature-celsius fa-2x"></i>
                                                        
                                                    </div>
                                                    <div class="col-md-6 p-0">
                                                        <i class="col-md-2 fas fa-thermometer-half fa-2x pull-right"></i>
                                                     </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-box">
                                        <div class="card-header">
                                            <h3 class="text-custom text-center">BMI</h3><hr />
                                        </div>
                                        <div class="card-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-lg-12">

                                <div class=" p-t-10">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#clinicalNotes">
                                            <h5 class="text-custom m-b-5">Clinical Notes<i class="fas fa-notes-medical pull-right fa-2x m-0"></i></h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="collapse" id="clinicalNotes">
                                                <p><b>2018-08-03</b></p>
                                                <section class="text-muted font-13 m-b-0">
                                                    <p>
                                                        Denies heroin or other illicit drug use. Drinks occasional beer. Last two urine tests have been negative for drugs..
                                                        <a href="" class="text-custom m-b-5">Read more..</a>
                                                    </p>
                                                </section><br>

                                                <p><b>2018-08-04</b></p>
                                                <section class="text-muted font-13 m-b-0">
                                                    <p>
                                                        No new psychosocial difficulties. Seemingly spending more time at home and no reports no difficulties at work.
                                                        Brief physical shows that her BP continues elevated
                                                        <a href="" class="text-custom m-b-5">Read more..</a>
                                                    </p>
                                                </section><br>

                                                <p><b>2018-08-05</b></p>
                                                <section class="text-muted font-13 m-b-0">
                                                    <p>
                                                        Reports that she attends NA weekly and continues in the weekly support group (which is confirmed by the group leader.)
                                                        <a href="" class="text-custom m-b-5">Read more..</a>
                                                    </p>
                                                </section><br>

                                                <a href="#" class="btn btn-primary waves-effect w-md waves-light m-b-5" data-toggle="modal" data-target="#doctorNotesModal">Add notes</a>

                                                <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5 pull-right">Edit notes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                            </div> <!-- end col -->

                            <div class="col-md-4 col-lg-6">
                                <div class=" p-t-10">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#prescriptions">
                                            <h5 class="text-custom m-b-5">Prescriptions<i class="fas fa-prescription-bottle pull-right  fa-2x "></i></h5>                                            
                                        </div>
                                        <div class="panel-body">
                                            <div class="collapse" id="prescriptions">
                                                <p class="text-muted font-13 m-b-0">
                                                <p class="col-md-12">
                                                    <b>2018-08-04</b>
                                                                                       <div class="col-md-1">
                                                                                           <i class="fa fa-capsules"></i>
                                                                                       </div>
                                                    <div class="col-md-11">
                                                        Rx Amoxicillin 250 mg tablets TT tablets p.o. T.i.d. X 7 days
                                                        <a href="" class="text-custom m-b-5">sent</a>
                                                    </div><hr/>
                                                    
                                                </p>

                                                <p class="text-muted font-13 m-b-0">
                                                
                                                <p class="col-md-12">
                                                    <b>2018-08-05</b>
                                                    <div class="col-md-1">
                                                        <i class="fa fa-capsules"></i>
                                                    </div>
                                                    <div class="col-md-11">
                                                        ATENOLOL 50mg TAB SAND (Take one tablet by mouth one times daily)
                                                        <a href="" class="text-custom m-b-5">pending</a>
                                                    </div><hr/>
                                                    
                                                </p><br>

                                                <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Add script</button>

                                                <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5 pull-right">Edit script</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />

                            </div> <!-- end col -->

                            <div class="col-md-4 col-lg-6">
                                <div class=" p-t-10">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#bloodResults">
                                            <h5 class="text-custom m-b-5">Blood Results <i class="fas fa-tint pull-right fa-2x "></i></h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="collapse" id="bloodResults">

                                                <h4 class="col-sm-offset-3">No blood results found</h4>

                                                <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Request tests</button>

                                                <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5 pull-right">Contact lab</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                            </div> <!-- end col -->
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-12">

                                <div class=" p-t-10">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#xenox">
                                            <h5 class="text-custom m-b-5">Xenox Documents<i class="fa fa-file-archive-o pull-right fa-2x "></i></h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="collapse" id="xenox">
                                                <div id="carousel-example-captions" data-ride="carousel" class="carousel slide">
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
                                                        <li data-target="#carousel-example-captions" data-slide-to="1" class="active"></li>
                                                        <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
                                                    </ol>
                                                    <div role="listbox" class="carousel-inner">
                                                        <div class="item">
                                                            <img src="~/images/profile/x3.jpg" style="width: 100%; height: 100%;" alt="First slide image">
                                                            <div class="carousel-caption">
                                                                <h3 class="text-white font-600">X-Ray Images</h3>

                                                            </div>
                                                        </div>
                                                        <div class="item active">
                                                            <img src="~/images/profile/x1.jpg" style="width: 100%; height: 100%;" alt="Second slide image">
                                                            <div class="carousel-caption">
                                                                <h3 class="text-white font-600">X-Ray Images</h3>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <img src="~/images/profile/x2.jpg" style="width: 100%; height: 100%;" alt="Third slide image">
                                                            <div class="carousel-caption">
                                                                <h3 class="text-white font-600">X-Ray Images</h3>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#carousel-example-captions" role="button" data-slide="prev" class="left carousel-control"> <span aria-hidden="true" class="fa fa-angle-left"></span> <span class="sr-only">Previous</span> </a>
                                                    <a href="#carousel-example-captions" role="button" data-slide="next" class="right carousel-control"> <span aria-hidden="true" class="fa fa-angle-right"></span> <span class="sr-only">Next</span> </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                            </div> <!-- end col -->
                            @*<div class="col-md-4 col-lg-6">
                                    <div class=" p-t-10">

                                        <div class="panel panel-default">
                                            <div class="panel-heading" data-toggle="collapse" data-target="#sickNotes">
                                                <h5 class="text-custom m-b-5">Sick Notes</h5>
                                                <hr />
                                            </div>
                                            <div class="panel-body">
                                                <div class="collapse" id="sickNotes">

                                                    <h4 class="col-sm-offset-3">NONE</h4>

                                                    <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Add letters</button>

                                                    <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Edit letters</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />

                                </div>*@ <!-- end col -->
                        </div>
                        <div class="row">
                            @*<div class="col-md-4 col-lg-6">
                                    <div class=" p-t-10">

                                        <div class="panel panel-default">
                                            <div class="panel-heading" data-toggle="collapse" data-target="#bloodResults">
                                                <h5 class="text-custom m-b-5">Blood Results</h5>
                                                <hr />
                                            </div>
                                            <div class="panel-body">
                                                <div class="collapse" id="bloodResults">

                                                    <h4 class="col-sm-offset-3">No blood results found</h4>

                                                    <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Request tests</button>

                                                    <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Contact lab</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                </div>*@ <!-- end col -->

                            <div class="col-md-4 col-lg-6">

                                <div class=" p-t-10">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#operations">
                                            <h5 class="text-custom m-b-5">Operations</h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="collapse" id="operations">
                                                <h4 class="col-sm-offset-3">No operations performed</h4>

                                                <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Add notes</button>

                                                <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5 pull-right">Edit notes</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <hr />
                            </div> <!-- end col -->
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-12">
                                <div class=" p-t-10">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#sickNotes">
                                            <h5 class="text-custom m-b-5">Sick Notes<i class="fa fa-sticky-note pull-right fa-2x " aria-hidden="true"></i></h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="collapse" id="sickNotes">

                                                <h4 class="col-sm-offset-5">No sick note(s) found</h4>

                                                <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">Add letters</button>

                                                <button type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5 pull-right">Edit letters</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />

                            </div> <!-- end col -->
                        </div>
                    </div>

                </div> <!-- end row -->

            </div>
            <!-- end col -->

        </div>
    </div> <!-- End row -->
                                                            }




<div class="modal fade" id="doctorNotesModal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel" aria-hidden="true">
    @*<form method="get">*@
    <div class="modal-dialog" style="display:grid;height:70%; width:70%;" role="document">
        <div class="modal-content" style="width:100%">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                <h5 class="modal-title" id="appointmentModalLabel">Doctor Notes</h5>
            </div>
            <div class="modal-body" style="height:70%; width:100%;">
                <div class=" col-sm-12">
                    <label for="Notes">Notes <span>*</span></label>
                    <textarea class="form-control" rows="4" cols="5"></textarea>
                </div>
            </div>
            <div class="row"></div>
            <div class="modal-footer">
                <input type="button" name="answer" value="Add Notes" class=" col-sm-12 btn btn-primary" />
            </div>
        </div>
    </div>
    @*</form>*@

</div>