@model Feature.OHS.Web.ViewModels.AppointmentViewModel

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="containerbox">
        <h3 class="text-danger page-message">@ViewBag.ErrorMessage</h3>
    </div>
}



<style>

    #calendar {
        max-width: 100%;
        margin: 0 auto;
    }
</style>

<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @@-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @@keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style>

<div class="row">

    <div class="col-sm-8">
        <form>
            <div class="form-group search-box">
                <input asp-for="PatientIdNumber" type="text" class="form-control product-search" placeholder="Search appointment here...">
                <a id="appointmentSearchId" type="submit" name="search" class="btn btn-search"><i class="fa fa-search"></i></a>

            </div>
        </form>
    </div>

    <div class="col-sm-2">
        <a class="btn btn-success btn-rounded btn-md waves-effect waves-light m-b-30" onclick="advancedSearch()"><i class="md md-add"></i> Advanced Search</a>
    </div>
    <div class="col-sm-2">
        <a href="/Doctors/Create" class="btn btn-success btn-rounded btn-md waves-effect waves-light m-b-30"> Add New Doctor</a>
    </div>

    <div class="col-sm-8" id="advanced-search">
        <form>
            <div class="form-group search-box">

                <input for="checkbox5" type="checkbox"> ID Number

                <input type="checkbox" name="sameaddress" value="" id=""> First Name

                <input type="checkbox" name="sameaddress" value="" id=""> Patient ID

            </div>
        </form>
    </div>

    @if (ViewBag.appointmentList != null)
    {
        <div id="patientsearch">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30 text-center">Search Results</h4>

                        <div class="inbox-widget slimscroll-alt" style="min-height: 30%;">
                            <div class="col-lg-12">
                                <table class="table table-hover mails m-0 table table-actions-bar" id="table">
                                    <thead>
                                    <tr>
                                        <th>Appointment #</th>
                                        <th>Patient Name</th>
                                        @*<th> Subject</th>*@
                                        <th>Appointment date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        
                                    @{
                                        var counter = 0;

                                        foreach (var item in ViewBag?.appointmentList)
                                        {
                                            counter++;

                                        <tr>
                                            @*<td> @item?.AppointmentId</td>*@
                                            <td> @counter</td>
                                            <td> @item?.FirstName @item?.LastName</td>
                                            @*<td> @item?.Title</td>*@
                                            <td> @item?.Start</td>
                                        </tr>
                                        }
                                    }
                                    
                                    </tbody>
                                </table>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
                                        }

        <div class="row">
            <h2 class="col-sm-12 text-center">Doctor Schedule Bookings</h2>

            @*<div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <h2 class="col-sm-12 text-center">Dr. D Matukane's Schedule Bookings</h2>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/doctors/dr_donald.jpg" alt="user-img" class="img-circle user-img" width:"100%" height:"100%" />
                    </div>
                </div>
            </div>
        </div>*@
            
            <div class="col-sm-12" id="loader">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 col-sm-offset-5">
                    <div class="loader " style="padding: 10%; width: 50px; height: 50px;"></div>
                </div>
                <div class="col-sm-3"></div>                
            </div>

                <div class="col-sm-12" id='calendar'></div>
            </div>

    

</div>
<div id="appdiv"></div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel" aria-hidden="true">

    <form asp-action="UpdateAppointment" asp-controller="Appointment" method="post">
        <div class="modal-dialog" style="display:grid;height:70%; width:70%;" role="document">
            <div class="modal-content" style="width:100%">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h5 class="modal-title" id="appointmentModalLabel">Doctor Appointment</h5>
                </div>
                <div class="modal-body" style="height:70%; width:100%;">

                    <div class=" col-sm-12">
                        <input name="id" id="id" type="hidden" />

                        <input name="firstname" id="firstName" type="hidden" />
                        <input name="lastname" id="lastName" type="hidden" />
                        <input name="idNumber" id="idNumber" type="hidden" />
                        <input asp-for="AppointmentTypeDescription" value="doctor" type="hidden" />
                        <label for="Date">Date <span>*</span></label>
                        <input asp-for="Start" id="start" type="date" class="form-control" placeholder="">
                        <label for="Time">Time <span>*</span></label>
                        <input asp-for="Time" id="time" type="time" min="07:00" max="19:00" class="form-control" placeholder="">
                        <label for="Title">Subject <span>*</span></label>
                        @*<input asp-for="Title" id="title" type="text" class="form-control" placeholder="">*@
                        <select asp-for="Title" id="title" type="text" class="form-control" placeholder="">
                            <optgroup label="Consultation">
                                <option value="New Patient">New Patient</option>
                                <option value="First Appointment">First Appointment</option>
                                <option value="Prescription">Prescription</option>
                                <option value="Follow-Up">Follow-Up</option>
                                <option value="Emergency"> Emergency </option>
                                <option value="Emergency Consultation">Emergency Consultation</option>

                                <option value="Off-site Consultation">Off-site Consultation</option>
                                <option value="Hospital Consultation">Hospital Consultation</option>
                            </optgroup>
                        </select>
                        <label for="Description">Description <span>*</span></label>
                        <textarea asp-for="Description" class="form-control" rows="2"></textarea>


                    </div>
                </div>
                <div class="row">

                </div>
                <div class="modal-footer">


                    <input type="submit" name="answer" value="Update Appointment" class=" col-sm-12 btn btn-primary" />

                    <br />
                    <br />
                    <br />
                    <input type="submit" name="answer" value="Cancel Appointment" formaction=@Url.Action("CancelAppointment", "Appointment") formmethod="post" class="col-sm-12 btn btn-danger" 
                           style="background-color: #bd2522!important; border: 1px solid #841a18 !important;" />


                    @*<br />
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>*@
                </div>
            </div>
        </div>
    </form>

</div>

<div class="modal fade" id="CreateAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel" aria-hidden="true">

    <form id="doctorApppointmentCreateForm" asp-action="Create" asp-controller="Appointment" method="post">
        <div class="modal-dialog" style="display:grid;height:70%; width:100%;" role="document">
            <div class="modal-content" style="width:100%">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h5 class="modal-title" id="appointmentModalLabel"> Create a Doctors Appointment</h5>
                </div>
                <div class="modal-body" style="height:70%; width:100%;">
                    <div id="incompleteFormError" class="containerbox hidden">       
                        <div class="card-box">
                            <div class="card-body">
                                <h3 class="text-danger page-message text-center" id="errorMessage">Please Enter all the required fields</h3>
                            </div>
                        </div>        
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Patient Information </div>
                        <div class="panel-body">

                            <div class="col-sm-12">
                                <div class="col-md-6">
                                    @*<div class="form-group search-box form-inline">
                                            <input asp-for="SearchIdNumber" class="form-control product-search col-md-6" placeholder="Enter ID Number">
                                            <a href=""><i class="fa fa-search"></i></a>
                                        </div>*@

                                    <div class="form-group search-box">
                                        <input asp-for="SearchIdNumber" type="text" class="form-control product-search" placeholder="Enter ID Number">
                                        <a href="javascript:void(0)" id="patientSearchId" name="search" class="btn btn-search"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 ">
                                <div class="form-group form-inline">
                                    <label for="firstName" class="col-md-12">Name <span>*</span></label>
                                    @if (Model?.FirstName == null)

                                    {
                                        <input asp-for="FirstName" type="text" class="form-control col-md-12" style="width:100%" placeholder="">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="FirstName" type="text" value=@Model.FirstName style="width:100%" class="form-control col-md-12">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    }
                                </div>
                                <div class="form-group form-inline">
                                    @if (Model?.LastName == null)
                                    {
                                        <label for="Surname" class="col-md-12">Surname <span>*</span></label>
                                        <input asp-for="LastName" type="text" class="form-control col-md-12" style="width:100%" placeholder="">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <label for="Surname" class="col-md-12">Surname <span>*</span></label>
                                        <input asp-for="LastName" type="text" class="form-control col-md-12" style="width:100%" value="@Model.LastName">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    }
                                </div>
                                <div class="form-group form-inline">
                                    <label for="IdNumber" class="col-md-12">Id Number <span>*</span></label>
                                    <input asp-for="IdNumber" type="text" class="form-control col-md-12" style="width:100%" placeholder="">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-inline">
                                    <label for="CellNumber" class="col-md-12">Contact Number</span></label>
                                    <input asp-for="CellPhone" class="form-control col-md-12" style="width:100%" placeholder="">
                                    <span class="text-danger"></span>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="Email1" class="col-md-12">Email Address <span>*</span></label>
                                    <input asp-for="Email1" type="email" class="form-control col-md-12" style="width:100%" placeholder="">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group form-inline">
                                    <label for="ReminderType" class="col-md-12">Reminder Type <span>*</span></label>
                                    <select name="ReminderType" class="form-control col-md-12" style="width:100%" placeholder="">
                                        <option>-----None-----</option>
                                        <option value="0">SMS</option>
                                        <option value="1">Email</option>
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Appointment Information </div>
                        <div class="panel-body">

                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <label for="Title">Appointment Type <span></span></label>
                                    <select asp-for="Title" type="text" class="form-control" placeholder="">
                                        <optgroup label="Consultation">
                                            <option value="New Patient">New Patient</option>
                                            <option value="First Appointment">First Appointment</option>
                                            <option value="Prescription">Prescription</option>
                                            <option value="Follow-Up">Follow-Up</option>
                                            <option value="Emergency"> Emergency </option>
                                            <option value="Emergency Consultation">Emergency Consultation</option>

                                            <option value="Off-site Consultation">Off-site Consultation</option>
                                            <option value="Hospital Consultation">Hospital Consultation</option>
                                        </optgroup>


                                    </select>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea asp-for="Description" class="form-control" rows="2"></textarea>
                                </div>


                                <div class="form-group ">
                                    <label for="Date">Date<span></span></label>
                                    <input asp-for="Start" type="date" class="form-control" placeholder="">
                                    <span asp-validation-for="Start" class="text-danger"></span>
                                </div>
                                

                              <!--  <div class="form-group">
                                    <label for="Date">Time<span></span></label>
                                    <input asp-for="Time" type="time" class="form-control" placeholder="">
                                    <span asp-validation-for="Time" class="text-danger"></span>
                                </div>-->
                                <div class="form-group">
                                  
                                    <select asp-for="Time" asp-items="ViewBag.Timeslots " class="form-control" style="width:100%"></select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        @*<input class="btn btn-block btn-rounded m-b-30 action-button next" type="submit" value="Create Appointment" style="width: 70% !Important;" input />*@
                        <input class="btn btn-block btn-rounded m-b-30 action-button next" type="button" id="submit" value="Create Appointment" style="width: 70% !Important;" />
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<input type="submit" name="answer" value="Update Appointment" class="btn btn-primary" />
                        <input type="submit" name="answer" value="Cancel Appointment" formaction=@Url.Action("CancelAppointment","Appointment") formmethod="post" class="btn btn-danger" />*@
                </div>
            </div>
        </div>
    </form>

</div>

<div class="modal fade" id="appointmentSuccess" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel" aria-hidden="true">
    
    <div class="modal-dialog" style="display:grid;height:70%; width:70%;" role="document">
        <div class="modal-content" style="width:100%">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentModalLabel">Confirmation</h5>
            </div>
            <div class="modal-body" style="height:70%; width:100%;">

                <div class=" col-sm-12">
                    <div class="containerbox">
                        <div class="card-box">
                            <div class="card-body">
                                <h3 class="text-success text-center">Appointment has been created successfully!</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="modal-footer">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="window.location.reload();">OK</button>
                </div>
            </div>
        </div>
    </div>
   

</div>

<div class="modal fade" id="dateErrorModal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="display:grid;height:20%; width:70%;" role="document">
        <div class="modal-content" style="width:100%">
            <div class="modal-header">
                <h5 class="modal-title text-custom m-b-5">ERROR: Appointment Date</h5>
            </div>
            <div class="modal-body" style="height:70%; width:100%;">
                        
                <div class="card-box">
                    <div class="card-body">
                        <h3 class="text-danger page-message text-center">You cannot book an appointment on a passed day!</h3>
                    </div>
                </div>
                @*<div class=" col-sm-12">
                            <div class="containerbox">
                                <div class="card-box">
                                    <div class="card-body">
                                        <h3 class="text-danger page-message text-center">You cannot book an appointment on a passed day!</h3>
                                    </div>
                                </div>
                            </div>
                        </div>*@
            </div>
            <div class="row">

            </div>
            <div class="modal-footer">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary button-action btn-rounded" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("patientsearchId");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    $(document).ready(function () {

        var appointments = [];
        $.ajax({
            type: "Get",
            url: "/Appointment/GetAppointments",
            success: function (data) {
                $("#loader").addClass('hidden');

                $.each(data, function (i, v) {
                    //console.log(v);

                    appointments.push({
                        id: v.AppointmentId,
                        title: v.Title,
                        description: v.Description,
                        start: v.Start,//.format('YYYY-MM-DD'),
                        end: v.End,//v.End != null ? moment(v.End).format('YYYY-MM-DD') : null,
                        allDay: false
                    });
                });

                //console.log(appointments);

                //  GenerateCalender(appointments);
            },
            error: function (error) {
                alert('failed')

            }
        }

        );

        $("#patientSearchId").on("click", function (e) {
            //e.preventDefault();

            var idNumber = $("#SearchIdNumber").val();

            var button = $(this);

            button.attr("href", "/Appointment/GetAppointment?id=" + idNumber);
            button.click();

        });


        $("#appointmentSearchId").on("click", function (e) {
            //e.preventDefault();

            var idNumber = $("#PatientIdNumber").val();

            var button = $(this);

            button.attr("href", "/Appointment/SearchAppointment?id=" + idNumber);
            button.click();

        });
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay,agenda'
            },
            buttonText: {
                agenda: 'Hours'
            },
            eventRender: function(event, $el) {
                $el.popover({
                    html: true,
                    title: event.title,
                    //content: `Time:${moment(event.start).format("HH:mm:ss")} ${event.description}`,
                    content: `
                            <div class="row">
                                <div class="col-md-12">
                                     <p>Time: <b>${moment(event.start).format("HH:mm:ss")}</b></p>
                                </div>
                                <div class="col-md-12">
                                    <p>Description: <b>${event.description}</b></p>
                                </div>
                            </div>
                        `,
                    trigger: 'hover',
                    placement: 'top',
                    container: 'body'
                });
            },
            defaultDate: new Date(),
            timeFormat: 'hh:mm a',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            selectable: true,
            eventLimit: true, // allow "more" link when too many events
            eventColor: '#00bfff',
            events: "/Appointment/GetAppointments",
            eventClick: function(calEvent, jsEvent, view) {
                
                $('#appointmentModal');
                var $description = $('#appdiv').html('content');
                $('#appointmentModal #appointmentDetails').empty().html($description);
                $('#appointmentModal').modal();

                var d = moment(calEvent.start).format("YYYY-MM-DD");
                var t = moment(calEvent.start).format("HH:mm:ss");

                $('#id').val(calEvent.id);

                $('#firstName').val(calEvent.firstName);
                $('#lastName').val(calEvent.lastName);
                $('#idNumber').val(calEvent.idNumber);

                $("#start").val(d);
                $('#time').val(t);
                $("#title").val(calEvent.title);
                $("#Description").val(calEvent.description);
                $('#appointmentModal').modal();

                

            },
            dayClick: function(date, calEvent, jsEvent, view) {

                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd;
                }

                if (mm < 10) {
                    mm = '0' + mm;
                }

                today = mm + '/' + dd + '/' + yyyy;
                if (moment(today).format("YYYY-MM-DD") > date.format("YYYY-MM-DD")) {
                    //alert("You cannot book an appointment on a passed day");

                    $("#dateErrorModal").modal('show');
                    return;
                } else {
                    $("#dateErrorModal").modal('hide');

                    $("#Start").val(date.format("YYYY-MM-DD"));
                    $('#CreateAppointmentModal').modal();
                }

                //$("#Start").val(date.format("YYYY-MM-DD"));
                //$('#CreateAppointmentModal').modal();
            },
            select: function(startDate, endDate, calEvent, jsEvent, view) {

                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd;
                }

                if (mm < 10) {
                    mm = '0' + mm;
                }

                today = mm + '/' + dd + '/' + yyyy;
                if (moment(today).format("YYYY-MM-DD") > date.format("YYYY-MM-DD")) {
                    //alert("You cannot book an appointment on a passed day");

                    $("#dateErrorModal").modal('show');
                    return;
                } else {
                    $("#dateErrorModal").modal('hide');

                    $("#Start").val(date.format("YYYY-MM-DD"));
                    $('#CreateAppointmentModal').modal();
                }

                // $('#CreateAppointmentModal').modal();
            },
            eventDrop: function(event, delta, revertFunc, jsEvent, ui, view) {
                $('#appointmentModal');
                var $description = $('#appdiv').html('content');
                $('#appointmentModal #appointmentDetails').empty().html($description);

                var d = moment(event.start).format("YYYY-MM-DD");
                var t = moment(event.start).format("HH:mm:ss");

                $('#id').val(event.id);
                $("#start").val(d);
                $('#time').val(t);
                $("#title").val(event.title);
                $("#description").val(event.description);
                $('#appointmentModal').modal();
            }
        });


        $("#submit").on('click', function(event) {
            event.preventDefault();

            var formData = $("#doctorApppointmentCreateForm").serializeArray();

            console.log(getFormData(formData));

            $.ajax({
                type: "POST",
                //url: "/Appointment/Create",
                url: "/Appointment/Create",
                //data: JSON.stringify(formData),
                data: formData,
                success: function (response) {
                    $("#CreateAppointmentModal").modal("hide");

                    $("#appointmentSuccess").modal("show");

                    window.location.reload();
                },
                error: function (error) {
                    console.log(error);

                    $("#incompleteFormError").removeClass("hidden");
                }
            });
        });

        function getFormData(data) {
            var unindexed_array = data;
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

    });
</script>
