<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/css/searchAppointment.css" rel="stylesheet" />
<script src="~/js/searchAppointment.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <div class="row">

    </div>
    <div class="row">
        <div class="col-lg-8 search-appointment">
            <input type="search" id="search" value="" class="form-control" placeholder="Search appointment">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Ref number</th>
                        <th>Appointment date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Shawn Tembe</td>
                        <td>#565615651</td>
                        <td>2018-02-08</td>
                    </tr>
                    <tr>
                        <td>Vuyiswa</td>
                        <td>#989898</td>
                        <td>2018-08-12</td>
                    </tr>
                    <tr>
                        <td>Jack</td>
                        <td>#88986</td>
                        <td>2017-03-08</td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>

</div>

<script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>