@model Feature.OHS.Web.ViewModels.AppointmentViewModel

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="containerbox">
        <h3 class="text-danger page-message">@ViewBag.ErrorMessage</h3>
    </div>
}



<style>

    #calendar {
        max-width: 100%;
        margin: 0 auto;
    }
</style>

<div class="row">

    <div class="col-sm-12" id='calendar'></div>


</div>
<div id="appdiv"></div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel" aria-hidden="true">

    <form asp-action="UpdateAppointment" asp-controller="Appointment" method="post">
        <div class="modal-dialog" style="display:grid;height:70%; width:70%;" role="document">
            <div class="modal-content" style="width:100%">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h5 class="modal-title" id="appointmentModalLabel">Doctor Appointment</h5>
                </div>
                <div class="modal-body" style="height:70%; width:100%;">

                    <div class=" col-sm-12">
                        <input name="id" id="id" type="hidden" />
                        <label for="Date">Date <span>*</span></label>
                        <input asp-for="Start" id="start" type="text" class="form-control" placeholder="">
                        <label for="Time">Time <span>*</span></label>
                        <input asp-for="Time" id="time" type="time" class="form-control" placeholder="">
                        <label for="Title">Subject <span>*</span></label>
                        <input asp-for="Title" id="title" type="text" class="form-control" placeholder="">
                        <label for="Description">Description <span>*</span></label>
                        <textarea asp-for="Description" class="form-control" rows="2"></textarea>


                    </div>
                </div>
                <div class="row">

                </div>
                <div class="modal-footer">


                    <input type="submit" name="answer" value="Update Appointment" class=" col-sm-12 btn btn-primary" />

                    <br />
                    <br />
                    <br />
                    <input type="submit" name="answer" value="Cancel Appointment" formaction=@Url.Action("CancelAppointment","Appointment") formmethod="post" class="col-sm-12 btn btn-danger" style="
    background-color: #bd2522!important;
    border: 1px solid #841a18 !important;
" />


                    @*<br />
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>*@
                </div>
            </div>
        </div>
    </form>

</div>

<div class="modal fade" id="CreateAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel" aria-hidden="true">

    <form asp-action="TheatreApppointment" asp-controller="Appointment" method="post">
        <div class="modal-dialog" style="display:grid;height:70%; width:100%;" role="document">
            <div class="modal-content" style="width:100%">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h5 class="modal-title" id="appointmentModalLabel"> Create a Doctors Appointment</h5>
                </div>
                <div class="modal-body" style="height:70%; width:100%;">

                    <div class="panel panel-default">
                        <div class="panel-heading">Patient Information </div>
                        <div class="panel-body">
                            <div class="col-sm-6 ">

                                <div class="form-group form-inline">
                                    <label for="firstName">Date <span>*</span></label>
                                    <input asp-for="Start" type="text" class="form-control" placeholder="">
                                    <span asp-validation-for="Start" class="text-danger"></span>

                                </div>
                                <div class="form-group form-inline">
                                    <label for="Docotr">Doctor <span>*</span></label>
                                    <select asp-for="DoctorId" asp-items="ViewBag.Doctors" class="form-control" style="width:50%"></select>
                                </div>
                                <div class="form-group form-inline">
                                    <label for="ReminderType">Reminder<span>*</span></label>
                                    <select name="ReminderType" class="form-control" style="width:50%" placeholder="">
                                        <option>-----None-----</option>
                                        <option value="0">1 Day</option>
                                        <option value="1">1 Week</option>
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-inline">
                                    <label for="Time">Time<span></span></label>
                                    <input asp-for="Time" type="time" class="form-control" placeholder="">
                                    <span class="text-danger"></span>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="Email1">Procedure Code<span>*</span></label>
                                    <select class="form-control" style="width:50%" placeholder="">
                                        <option>-----None-----</option>
                                        <option value="0">123SDF3</option>
                                        <option value="1">244DDSW</option>
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group form-inline">
                                    <label for="ReminderType">Reminder Via <span>*</span></label>
                                    <select name="ReminderType" class="form-control" placeholder="">
                                        <option>-----None-----</option>
                                        <option value="0">SMS</option>
                                        <option value="1">Email</option>
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <label for="Title">Appointment Subject <span></span></label>
                                    <input asp-for="Title" type="text" class="form-control" placeholder="">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea asp-for="Description" class="form-control" rows="2"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <input id="submit" class="hs-button primary large action-button next" type="submit" value="Create Appointment" style="
    width: 70% !Important;">
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<input type="submit" name="answer" value="Update Appointment" class="btn btn-primary" />
                        <input type="submit" name="answer" value="Cancel Appointment" formaction=@Url.Action("CancelAppointment","Appointment") formmethod="post" class="btn btn-danger" />*@
                </div>
            </div>
        </div>
    </form>

</div>


<script>

        $(document).ready(function () {

            var appointments = [];
            $.ajax({
                type: "Get",
                url: "/Appointment/GetTheatreAppointments",
                success: function (data) {
                    //console.log(data);

                    $.each(data, function (i, v) {
                        //console.log(v);

                        appointments.push({
                            id: v.AppointmentId,
                            title: v.Title,
                            description: v.Description,
                            start: v.Start,//.format('YYYY-MM-DD'),
                            end: v.End,//v.End != null ? moment(v.End).format('YYYY-MM-DD') : null,
                            allDay: false
                        });
                    });

                    console.log(appointments);

                    //  GenerateCalender(appointments);
                },
                error: function (error) {
                    alert('failed')

                }
            }

            );

            $("#patientSearchId").on("click", function (e) {
                //e.preventDefault();

                var idNumber = $("#SearchIdNumber").val();

                var button = $(this);

                button.attr("href", "/Appointment/GetAppointment?id=" + idNumber);
                button.click();

            });


            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay,agenda'
                },
                defaultDate: new Date(),
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                selectable: true,
                eventLimit: true, // allow "more" link when too many events
                eventColor: '#00bfff'
                , events: "/Appointment/GetTheatreAppointments",
                eventClick: function (calEvent, jsEvent, view) {
                    $('#appointmentModal');
                    var $description = $('#appdiv').html('content');
                    $('#appointmentModal #appointmentDetails').empty().html($description);
                    $('#appointmentModal').modal();

                    var d = moment(event.start).format("YYYY-MM-DD");
                    var t = moment(event.start).format("HH:mm:ss");

                    $('#id').val(event.id);
                    $("#start").val(d);
                    $('#time').val(t);
                    $("#title").val(event.title);
                    $("#description").val(event.description);
                    $('#appointmentModal').modal();
                }, dayClick: function (date, calEvent, jsEvent, view) {
                    $('#CreateAppointmentModal').modal();
                },
                select: function (startDate, endDate, calEvent, jsEvent, view) {
                    $('#CreateAppointmentModal').modal();
                },
                eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
                    $('#appointmentModal');
                    var $description = $('#appdiv').html('content');
                    $('#appointmentModal #appointmentDetails').empty().html($description);

                    var d = moment(event.start).format("YYYY-MM-DD");
                    var t = moment(event.start).format("HH:mm:ss");

                    $('#id').val(event.id);
                    $("#start").val(d);
                    $('#time').val(t);
                    $("#title").val(event.title);
                    $("#description").val(event.description);
                    $('#appointmentModal').modal();
                }

            })


        });
</script>
